* {
  box-sizing: border-box;
}
body{
  padding-top: 64px;
  overflow-x: hidden;
}
.splash{
  position: fixed;
  background-color: #00AB0A;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: all .8s;
}
  .splash div{
    font-size: 64px;
    text-align: center;
    width: 100%;
  }
.loader{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.8);
  z-index: 999;
  display: flex;
  align-items: center;
  transition: all 1s;
  height: 0;
  overflow: hidden;
}
  .loader div{
    font-size: 64px;
    text-align: center;
    width: 100%;
  }
.topbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #0A00AB;
  color: white;
  z-index: 99;
}
  .topbar .back{
    opacity: 0;
  }
  .topbar h1{
    font-size: 32px;
    line-height: 32px;
  }
  .topbar .balance{

  }

.panel{
  width: 100%;
  min-height: 320px;
  padding: 20px;
  margin: 0;
  min-height: 100%;
  transition: all 1s;
  border: 2px solid white;
}
  .panel h1{
    font-size: 100px;
    line-height: 100px;
    width: 100%;
    text-align: center;
  }
  .panel p{
    text-align: center;
  }
  .panel button{
    width: 100%;
    line-height: 64px;
    padding: 0;
    height: 64px;
    appearance: none;
    border: 2px solid;
    color: #333;
    border-radius: 24px;
    background-color: #eee;
    font-weight: bold;
    font-size: 24px;
  }
    button.start{
      background-color: #efe;
      color: #3c3;
    }
    button.stop{
      background-color: #fee;
      color: #c33;
    }
    button:active{
      transform: translateY(2px);
    }


  .panel_Home{
    background-color: #eee;
  }
  .panel_Active{
    background-color: #eee;
  }
  .panel_Stopped{
    background-color: #eee;
  }

  .panel li.timer{
    text-align: center;
    font-size: 48px;
    line-height: 48px;
    font-weight: bolder;
    justify-content: space-around;
  }


.panel ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;

}
  .panel li{
    padding: 0 10px;
    min-height: 44px;
    line-height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
  }
  .panel li:last-child{
    border-bottom: none;
  }
  .panel li:active{
    background-color: #ccc;
  }

  .bikeClaimed{
    background-color: #efe;
    color: #3c3;
  }
    .bikeClaimed:active{
      background-color: #cfc !important;
    }
  .bikeNotAvailable{
    background-color: #eee;
    color: #ccc;
  }
    .bikeNotAvailable:active{
      background-color: #eee !important;
    }
